@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-3">Welcome to <b>SaidIbrahim.tech</b></h1>
        <p class="lead">
            Discover the best deals and an amazing tech devices shopping experience.
        </p>
    </div>
</div>